.hamburger-menu {
    position: absolute;
    margin: 0;
    transition: transform 400ms ease-in-out;
    white-space: nowrap;
    overflow: scroll;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.hamburger-menu--show {
    @media (max-width: $desktop-breakpoint) {
        transform: translateX(0);
    }
}
