.messageField > form {
    display: flex;
    flex: 1;
    background-color: #EEEEEE;
}

.messageField__input {
    flex: 1;
    border: none;
    margin: 0.7rem;
    padding: $m-size $s-size;
    @media (min-width: $desktop-breakpoint) {
        margin-left: 0;
    }
}

.messages-display {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.message {
    display: flex;
    // min-height: 5rem;
    flex-shrink: 0;
    padding: $s-size;
    color: $black;
    margin: 0.7rem;
    background: lightgoldenrodyellow;
    box-shadow: 1px 1px 1px 1px rgba(67,38,100,0.15);
    animation: message 300ms ease-in-out 1;
}

.message__content {
    word-break: break-all;
    word-wrap: break-word;  
}

.message__author {
    width: 8rem;
    margin-right: $s-size;
    word-wrap: break-word;    
}

@keyframes message {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 100;
    }
}

