// .messageField {
//     height: 10rem;
//     display: flex;
//     height: 4.8rem;
//     background: #EEEEEE;
//     flex: 1;
// }

.messageField > form {
    display: flex;
    flex: 1;
    background-color: #EEEEEE;
}

.messageField__input {
    flex: 1;
    border: none;
    margin: 0.7rem;
    padding: $m-size $s-size;
}

.messages-display {
    flex: 1;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.message {
    display: flex;
    border-bottom: 0.1rem solid gainsboro;
    min-height: 5rem;
    flex-shrink: 0;
    padding: $s-size;
}

.message__content {
    word-break: break-all;
    word-wrap: break-word;  
}

.message__author {
    width: 8rem;
    margin-right: $s-size;
    word-wrap: break-word;    
}

