.preview {
    display: flex;
    justify-content: start;
    border: none;
    // border-bottom: 0.1rem solid gainsboro; 
    padding-left: $s-size;
    background: none;
}

.initial-box {
    border-radius: 0;
    padding: $s-size;
    background: $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $l-size;
    width: 4.7rem;
    height: 4.7rem;
    overflow: hidden;
    color: white;
    transition: border-radius 200ms ease-in-out;
}

.preview:hover .initial-box {
    border-radius: 25%;
}

.preview__body  {
    flex: 1;
    display: flex;
}

.preview__body > h3 {
    margin-top: 3.5rem;
    color: $black;
}
