.searchBar {
    background: #FBFBFB;
    display: flex;
    height: 4.8rem;
    border-bottom: .7rem solid #eee;
    flex-shrink: 0;
}

.searchBar__input {
    flex: 1;
    border: none;
    text-indent: $s-size;
}