.searchBar {
    background: #FBFBFB;
    display: flex;
    height: 4.8rem;
    flex-shrink: 0;
    border-bottom: 0.1rem solid gainsboro;     
}

.searchBar__input {
    flex: 1;
    margin: .5rem $s-size;
    border: none;
    text-indent: $s-size;
}